.callInfo{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Form_Control{
    width: auto;
    padding-right: 5%;
}
.call_header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: baseline;

}
#standard{
    width: 140px;
}
#Card_Call{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;   
}
// #standard-disabled{
//     width: 140px;
// }
#assign{
    font-size: 10px;
    color: blue;
}
.tabs{
    margin-top: 7%;
    margin-left: 3%;
}
.css-w8dmq8{
    width: 90%;
}
#tabList{
    display: flex;


}
.css-heg063-MuiTabs-flexContainer{
    display: flex;

}
// .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
//     margin-right: 10px;
// }
// #mui-p-84834-T-2{
//     padding-right: 10px;
// }

// #mui-p-84834-T-1{
//     padding-right: 10px;
    
// }
// #mui-p-84834-T-3{
//     padding-right: 10px;
// }

table, th, td {
    border:1px solid black;
  }
  #backdropUpdate{
        position: absolute;
        z-index: -1;
  }


