#call_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#flex_inputs_forget{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
#input{
    margin-left: 5px;
}
#form_submit_forget{
    display: inline-block;
}
#successMessage{
    
    color: green;
}
#error{
    color: red;
}