#call_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#flex_inputs_forget{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
#input{
    margin-left: 5px;
}