#menuItems{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;

}
#Menu{
    position: relative;
    z-index: -1;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    width: 355px;   
}

#NewCall{
    margin-left: 7%;
    border: transparent;
    color: black;
    
}

#NewSystem{
    border: transparent;
    color: black;
}
#NewUser{
    border: transparent;
    color: black;

}

#LogOff{
    border: transparent;
    color: black;
}

#1{
    justify-content: center;
}
#backdrop{
    min-width: 900px;
    min-height: 300px;
}

.box_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.form{
    padding-right: 15%;
    width: 110px;
}
#Hello{
    z-index: -1;
    margin-left: auto;
}

.Menulogo{
    margin: auto;
    width: 60px;
}
.css-1xif2b4-MuiPopper-root-MuiDataGrid-menu .MuiDataGrid-menuList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}