#plusIcon{
    position: absolute;
    right: 15px;
    top: 15px;
    padding-right: 5px;
    color: white;
}
.MuiDrawer-paper{
    position: absolute;
    right: 0;
}

#1{
    justify-content: center;
}
#backdrop{
    margin-right: 200px;
    min-width: 900px;
    min-height: 500px;
    direction: rtl;
}

