#plusIcon{
    position: absolute;
    right: 15px;
    top: 15px;
    padding-right: 5px;
    border: transparent;
    color: black;
}
#LogOff{
    position: absolute;
    right: 105px;
    top: 15px;
    padding-right: 5px;
    border: transparent;
    color: black;
}

#1{
    justify-content: center;
}
#backdrop{
    min-width: 900px;
    min-height: 500px;
}

.box_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.form{
    padding-right: 15%;
    width: 110px;
}
.Hello{
    
}