#AdminBox{
    margin-top: 10%;
    width: 200px;
    height: 70px;

}
#adminPanelBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1%;
}
#addUser{
    color: black;
    margin-top: 5%;
}
#flex_inputs_add_user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#backdrop_add_user{
    height: 800px;
}